{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="appresource/css/flights_select.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <!-- Header -->
    <div class="g-background-title m-center">
        <a href="/preference"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <!-- Page Content -->
    <div class="g-page-content">
        <div class="txt-header">
            Review your flight details.
        </div>
        <div class="event-background">
            <div class="event-background-row">
                <div class="">
                	DEPARTURE
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
                <div class="">
                </div>
            </div>
            <div class="event-background-row second">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %} {% endblock %}
