{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="appresource/css/flights_select.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <!-- Header -->
    <div class="g-background-title m-center">
        <a href="/flights"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <!-- Page Content -->
    <div class="g-page-content">
        <div class="Progress-1 flight"></div>
        <div class="t-center">
            <font class="txt-header">Review your </font>
            <font class="txt-header text-style-1">flight details</font>
        </div>
        <div class="event-background">
            <div class="event-background-row">
                <div class="eb-style-1">
                    DEPARTURE
                </div>
                <div class="eb-style-2">
                    SIN 09:00 to MEL 19:00
                </div>
                <div class="eb-style-3">
                    Singapore to Melbourne, 24/09/2016
                </div>
                <div class="eb-style-4">
                    Changi International Airport, Terminal 1
                </div>
                <div class="plane---FontAwesome">
                </div>
                <div class="eb-style-4">
                    Melbourne International Airport, Terminal 1
                </div>
                <div class="eb-style-5">
                    Emirates
                </div>
                <div class="eb-style-6">
                    $ 1000
                </div>
            </div>
            <div class="event-background-row second">
                <div class="eb-style-1">
                    RETURN
                </div>
                <div class="eb-style-2">
                    SIN 09:00 to MEL 19:00
                </div>
                <div class="eb-style-3">
                    Singapore to Melbourne, 24/09/2016
                </div>
                <div class="eb-style-4">
                    Changi International Airport, Terminal 1
                </div>
                <div class="plane---FontAwesome">
                </div>
                <div class="eb-style-4">
                    Melbourne International Airport, Terminal 1
                </div>
                <div class="eb-style-5">
                    Emirates
                </div>
                <div class="eb-style-6">
                    $ 1000
                </div>
            </div>
        </div>
        <a href="/hotel" class="g-submit-btn">
            <div class="g-submit">
                THIS LOOKS GOOD
            </div>
        </a>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %} {% endblock %}
