{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="appresource/css/flights.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <!-- Header -->
    <div class="g-background-title m-center">
        <a href="javascript:void(0);"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <!-- Page Content -->
    <div class="g-page-content">
        <div class="txt-header">
            Select your departure and return flights.
        </div>
        <div class="event-background">
            <div class="event-background-row">
                <div class="eb-style-1">
                    Departure
                </div>
                <div class="eb-style-2">
                    SIN 09:00 to MEL 19:00
                </div>
                <div class="eb-style-3">
                    Singapore to Melbourne
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
            <div class="event-background-row second">
                <div class="eb-style-1">
                    Return
                </div>
                <div class="eb-style-2">
                    SIN 11:00 to MEL 17:00
                </div>
                <div class="eb-style-3">
                    Melbourne to Singapore
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
        </div>
        <div class="event-background">
            <div class="event-background-row">
                <div class="eb-style-1">
                    Departure
                </div>
                <div class="eb-style-2">
                    SIN 09:00 to MEL 19:00
                </div>
                <div class="eb-style-3">
                    Singapore to Melbourne
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
            <div class="event-background-row second">
                <div class="eb-style-1">
                    Return
                </div>
                <div class="eb-style-2">
                    SIN 11:00 to MEL 17:00
                </div>
                <div class="eb-style-3">
                    Melbourne to Singapore
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
        </div>
        <div class="event-background">
            <div class="event-background-row">
                <div class="eb-style-1">
                    Departure
                </div>
                <div class="eb-style-2">
                    SIN 09:00 to MEL 19:00
                </div>
                <div class="eb-style-3">
                    Singapore to Melbourne
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
            <div class="event-background-row second">
                <div class="eb-style-1">
                    Return
                </div>
                <div class="eb-style-2">
                    SIN 11:00 to MEL 17:00
                </div>
                <div class="eb-style-3">
                    Melbourne to Singapore
                </div>
                <div class="eb-style-4">
                    Emirates
                </div>
                <div class="eb-style-5">
                    $1000
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %} {% endblock %}
