<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Trippin'{% endblock %}</title>
    {% block head %}
     <!-- ADD STYLE SHEETS HERE -->

     <!-- Bootstrap css -->
     <link rel="stylesheet" type="text/css" href="appresource/bootstrap-3.3.7-dist/css/bootstrap.min.css">
     <!-- Google font css -->
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion">
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
     <link rel="stylesheet" type="text/css" href="appresource/css/global.css">
     <link rel="stylesheet" type="text/css" href="appresource/css/font-awesome.min.css">



    {% endblock %}
</head>
<body>
    {% block menu %}
    <!-- ADD MENU CONTENT HERE -->
    {% endblock %} 

    {% block content%} 
    <!-- ADD CONTENT HERE -->
    {% endblock %} 


    {% block footer %}
    <!-- ADD FOOTER HERE -->
    {% endblock %} 

    {% block scripts %}
    <!-- ADD SCRIPTS HERE -->

    <script src="appresource/script/jquery.min.js"></script>
    <script src="appresource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
        });


        function getUserId(){
            return "{{user.id}}";
        }
    </script>

    {% endblock %}
</body>

</html>
