{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" type="text/css" href="appresource/css/preference.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <div class="g-background-title m-center">
        <a href="/swippin"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <div class="g-page-content">
        <div class="Progress-1 pref"></div>
        <div class="date-content">
            <div class="Travel-Period">Travel Period</div>
            <div class="period-holder">
                <span class="icon-holder"><span class="num"></span></span>
                <input id="input-days-travel" class="txt-bx" type="number"  placeholder="&nbsp;&nbsp;# of days travelling" />
            </div>
            </br>
            <!-- <div class="t-center" style="font-weight:bold">
                </br>to</div>
            <div class="period-holder">
                <span class="icon-holder"><span class="calendar"></span></span>
                <input id="input-end-period" class="txt-bx" type="date" value="12/11/16" placeholder="&nbsp;&nbsp;Starting date of trip" />
            </div> -->
        </div>
        <div class="budget-content">
            <div class="Travel-Period">Budget</div>
            <div class="period-holder">
                <span class="icon-holder"><span class="calendar"></span></span>
                <input id="input-budget" class="txt-bx" value  type="number" placeholder="&nbsp;&nbsp;Set Budget" />
            </div>
        </div>
        <div class="action-btn-holder">
            <a id="submit" class="g-submit-btn">
                <div class="g-submit">
                    I'M ALL SET
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %}
<script>
$('#submit').click(function() {

    // var startdate = $('#input-start-period').val();
    // var enddate = $('#input-end-period').val();
    var daysTravel = $('#input-days-travel').val();
    var budget = $('#input-budget').val();

    // var date1 = new Date(startdate);
    // var date2 = new Date(enddate);
    // var timeDiff = Math.abs(date2.getTime() - date1.getTime());
    // var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
    // diffDays += 1;

    // localStorage.setItem("start-travel-date", startdate);
    // localStorage.setItem("end-travel-date", enddate);
    localStorage.setItem("travel-days", daysTravel);
    localStorage.setItem("budget", budget);


    window.location.href = "/recommendation";
})
</script>
{% endblock %}
