{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="appresource/css/recommendation.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <!-- Header -->
    <div class="g-background-title m-center">
        <a href="/preference"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <div class="g-page-content">
        <div class="g-header_v1">Country</div>
        <div class="recommended-countries">
            <a href="javascript:void(0)">
                <div class="country font vietnam">Vietnam</div>
            </a>
            <a href="javascript:void(0)">
                <div class="country font thailand">Thailand</div>
            </a>
            <a href="javascript:void(0)">
                <div class="country font singapore">Singapore</div>
            </a>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %} {% endblock %}
