{% extends 'layout.html' %} {% block title %}{% parent %}{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="appresource/css/recommendation.css"> {% endblock %} {% block content%}
<div class="m-container">
    <!-- ADD CONTENT HERE -->
    <!-- Header -->
    <div class="g-background-title m-center">
        <a href="/preference"><span class="g-back"></span></a>
        <h1 class="g-trippin">Trippin'</h1><span class="g-signout"></span>
    </div>
    <div class="g-page-content">
        <div class="Progress-1 pref"></div>
        <div class="t-center">
            <font class="txt-header">Which </font>
            <font class=" txt-header text-style-blue">city</font>
            <font class="txt-header"> do you want to travel to?</font>
        </div>
        <div class="recommended-countries">
            <a href="javascript:void(0)">
                <div id="recommend1-btn" class="country font vietnam">Vietnam</div>
            </a>
            <a href="javascript:void(0)">
                <div id="recommend2-btn" class="country font thailand">Thailand</div>
            </a>
            <a href="javascript:void(0)">
                <div id="recommend3-btn" class="country font singapore">Singapore</div>
            </a>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {% parent %} {% endblock %} {% block scripts %} {% parent %}
<script>
var travelDays;
var cashFlow;
$().ready(function() {
    travelDays = (localStorage.getItem("travel-days"));
    cashFlow = (localStorage.getItem("budget"));
    initBtnListener();
    getUsersPref();
    getDistanceMatrix();
    getTop3Cities();
    yishyAPI(top3cities);
    populateTop3();

});


function initBtnListener() {
    $('#recommend1-btn').click(function() {
        localStorage.setItem('destination', $('#recommend1-btn').text());
    });
    $('#recommend2-btn').click(function() {
        localStorage.setItem('destination', $('#recommend2-btn').text());
    });
    $('#recommend3-btn').click(function() {
        localStorage.setItem('destination', $('#recommend3-btn').text());
    });


}
var top3cities = [];
var userPref = []; // [[like],[dislike],[remain]]
var recommend1 = [
    [],
    [],
    []
];
var recommend2 = [
    [],
    [],
    []
];
var recommend3 = [
    [],
    [],
    []
];

var distanceMatrix = [];

function getTop3Cities() {
    $.ajax({
            method: "GET",
            url: "/api/getAllUserArraysByCityTopThree?userid=" + getUserId(),
            async: false
        })
        .done(function(res) {
            console.log(res);
            top3cities = res;
        });
}

function yishyAPI(top3cities) {
    var like = userPref[0];
    var dislike = userPref[1];
    var remain = userPref[2];

    var recomCity1 = top3cities[0]._id;
    var recomCity2 = top3cities[1]._id;
    // var recomCity3 = top3cities[2]._id;



    for (var i = 0; i < like.length; i++) {
        if (like[i].city == recomCity1) {
            recommend1[0].push(like[i]);
        } else if (like[i].city == recomCity2) {
            recommend2[0].push(like[i]);
        }
        // } else if (like[i].city == recomCity3) {
        //     recommend3[0].push(like[i]);

        // }

    }

    for (var i = 0; i < dislike.length; i++) {
        if (dislike[i].city == recomCity1) {
            recommend1[1].push(dislike[i]);
        } else if (dislike[i].city == recomCity2) {
            recommend2[1].push(dislike[i]);
        }
        // else if (dislike[i].city == recomCity3) {
        //     recommend3[1].push(dislike[i]);

        // }

    }

    for (var i = 0; i < remain.length; i++) {
        if (remain[i].city == recomCity1) {
            recommend1[2].push(remain[i]);
        } else if (remain[i].city == recomCity2) {
            recommend2[2].push(remain[i]);
        }

        // else if (remain[i].city == recomCity3) {
        //     recommend3[2].push(remain[i]);

        // }

    }


    console.log(recommend1);
    console.log(recommend2);
    // console.log(recommend3);



    // for (var i = 0; i < top3cities.length; i++) {
    //     for (var j = 0; j < userPref.length; j++) {
    //         for(var x = 0; x < user)
    //         if (userPref[j].city == top3cities[0].city) {

    //         }
    //     }
    // }
}

function getUsersPref() {
    $.ajax({
            method: "GET",
            url: "/api/getAllUserArrays?userid=" + getUserId(),
            async: false
        })
        .done(function(res) {
            userPref = res;
            // console.log(userPref);
        });
}


function populateTop3() {
    $('#recommend1-btn').html(top3cities[0]._id);
    $('#recommend2-btn').html(top3cities[1]._id);
    // $('#recommend3-btn').html(top3cities[2]._id);

}

$('#recommend1-btn').click(function() {
    var recomCity1 = top3cities[0]._id;
    narrowCities(recomCity1, recommend1);
});

$('#recommend2-btn').click(function() {
    var recomCity2 = top3cities[1]._id;
    narrowCities(recomCity2, recommend2);

});

// $('#recommend3-btn').click(function() {
//     var recomCity3 = top3cities[2]._id;
//     narrowCities(recomCity3, recommend3);


// });


function getDistanceMatrix() {
    $.ajax({
            method: "GET",
            url: "/api/getAllDistanceMatrix",
            async: false
        })
        .done(function(res) {
            distanceMatrix = res;
        });
}


var narrowCities = function(city, cityArray) {
    var attractions = cityArray;
    var travelData = [];
    var distanceData = [];
    var mustGo = "";
    var startTime = 800;
    var endTime = 2300;
    for (var i = 0; i < attractions[0].length; i++) {
        // console.log(attractions[0][i]);
        travelData.push(attractions[0][i]);
        // console.log(travelData[length-1]);
        travelData[travelData.length - 1].id = travelData.length;
        var category = travelData[travelData.length - 1].category;
        travelData[travelData.length - 1].category = category.toString();
        travelData[travelData.length - 1].utility = travelData[travelData.length - 1].utility * 10;
    }
    for (var j = 0; j < attractions[2].length; j++) {
        travelData.push(attractions[2][j]);
        travelData[travelData.length - 1].id = travelData.length;
        var category = travelData[travelData.length - 1].category;
        travelData[travelData.length - 1].category = category.toString();
    }
    for (var l = 0; l < travelData.length; l++) {
        for (var m = 0; m < travelData.length; m++) {
            if (travelData[l]._id !== travelData[m]._id) {
                for (var n = 0; n < distanceMatrix.length; n++) {
                    if (distanceMatrix[n].origin === travelData[l]._id && distanceMatrix[n].destination === travelData[m]._id) {
                        distanceData.push({
                            origin: travelData[l].id,
                            destination: travelData[m].id,
                            distance: distanceMatrix[n].duration
                        });
                        distanceData.push({
                            origin: travelData[m].id,
                            destination: travelData[l].id,
                            distance: distanceMatrix[n].duration
                        });
                        n = distanceMatrix.length;
                    }
                }
            }
        }
    }


    // window.location.href = "/getSchedule?userid="+getUserId()+"&city="+city+"&mustGo="+mustGo+"&travelData="+travelDataStr+"&distanceData="+distanceDataStr;

    var travelDataStr = JSON.stringify(travelData);
    var distanceDataStr = JSON.stringify(distanceData);

    $.ajax({
            method: "POST",
            url: "/api/getSchedule",
            data: {
                userid: getUserId(),
                mustGo: mustGo,
                travelData: travelDataStr,
                distanceData: distanceDataStr,
                travelDays: travelDays,
                cashFlow: cashFlow
            }
        })
        .done(function(res) {
            console.log(res);

            localStorage.setItem('json', JSON.stringify(res));

            window.location.href = "/highlights";

        });
};
</script>
{% endblock %}
