

.txt-header {
  height: 19px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #4d5153;
}

.txt-header.text-style-1 {
  color: #297fe4;
}

.event-background {
    margin-top: 8px;
    margin-bottom: 8px;
}

.event-background-row {
    width: 343px;
    height: 222px;
    background-color: #efefef;
    padding-top: 10px;
    padding-left: 15px;
    /*additional*/
    position: relative;
}

.event-background-row.second {
    background-color: #e6e6e6;
}

.eb-style-1 {
    height: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
    /*additional*/
    margin-top: 10px;
}

.eb-style-2 {
    height: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
    /*additional*/
    margin-top: 16px;
}

.eb-style-3 {
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #808080;
    /*additional*/
    margin-bottom: 16px;
}

.plane---FontAwesome {
    height: 16px;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
}

.plane---FontAwesome:before {
    content: "\f072";
}

.eb-style-4 {
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
    /*additional*/
}

.eb-style-5 {
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #d04b00;
    /*additional*/
    margin-top: 26px;
}

.eb-style-6 {
    width: 77px;
    height: 29px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #009717;
    /*additional*/
    position: absolute;
    bottom: 15px;
    right: 15px;
}


