
.Progress-1 {
  width: 320px;
  height: 55px;
  background-image: url("/appresource/images/bc_flights.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.txt-header {
  height: 19px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #4d5153;
}

.txt-header.text-style-1 {
  color: #297fe4;
}
.event-background {
    margin-bottom: 8px;
    margin-top: 8px;
}

.event-background-row {
    width: 343px;
    padding-bottom:11px;
    background-color: #efefef;
    /*additional*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11.2px;
    position: relative;

}

.event-background-row.second {
    background-color: #e6e6e6;
}

.eb-style-1 {
    height: 15.6px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
    /*additional*/
}

.eb-style-2 {
    height: 21.2px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4d5153;
    /*additional*/
    margin-top: 8.9px;
}

.eb-style-2 .text-style-1 {
    font-weight: 600;
}

.eb-style-3 {
    height: 15.6px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #808080;
}

.eb-style-4 {
    height: 15.6px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #d04b00;
    /*additional*/
    margin-top: 8.9px;
}

.eb-style-5 {
  height: 26.8px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #009717;
  /*additional*/
  position: absolute;
  top: 64px;
  right: 26.8px;
}