.Travel-Period {
    width: 127px;
    height: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #808080;
}

.date-content {
    margin-top: 16px;
    margin-left: 16px;
}

.budget-content {
    margin-top: 80px;
    margin-left: 16px;
}

.calendar {
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #dddddd;
    font-family: FontAwesome;
}

.calendar:before {
    content: "\f073";
}

.period-holder {
    margin-top: 16px;
}

.txt-bx {
    width: 265px;
    height: 38px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #c8c8c8;
}

.icon-holder {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    width: 40px;
    height: 38px;
    border-radius: 4px;
    background-color: #eceeef;
    border: solid 1px #cccccc;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.submit {
    width: 343px;
    height: 40px;
    border-radius: 4px;
    background-color: #5cb85c;
    border: solid 1px #5cb85c;
    /*additional*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2;
}

.action-btn-holder {
    margin-top: 250px;
}


